@import "tailwindcss";

@theme {
  --desktop-breakpoint: 64rem;
  --widescreen-breakpoint: 96rem;
}

html {
  font-family: "Work Sans", sans-serif;
  color: white;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    display: none;
  }
  scrollbar-width: none;
  -ms-overflow-style: none;
}